#navbar img{
    width: 300px;
    margin-left: -100px;
    margin-bottom: -50px;
    margin-top: -50px;
   
}
#navbar{
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #046332;
    background-color: #bbad58;
}
#navbar ul li a{
    color: #046332;
}
.navbar-toggler {
    color: #046332;
}

/* #navbarNavDropdown{
    /* display: flex;
    justify-content: space-between; */
#search{
    background-color: #046332;
    color: white;
}
#input-search{
    background-color: transparent;
    border-color: #046332;
    
}
.d-flex{
    display: flex;
    justify-content: flex-end;
}

#sel{
    background-color: #bbad58;
    
}